body {
  font-family: Arial, sans-serif;
  background-color: #d170e4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 50px 20px;
}
h1 {
  font-size: 35px;
  font-weight: 600;
  font-family: cursive;
  margin-bottom: 10px;
  color: #fff;
}

#question {
  font-size: 18px;
}
.question-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 62%);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.choices button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  cursor: pointer;
  min-width: 100px;
}
.timer {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}
.choices {
  margin-top: 30px;
}
.result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}
.wrong {
  color: red;
  font-weight: bold;
}
.correct {
  color: green;
  font-weight: bold;
}
#restart {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #0000006b;
  background-color: rgb(71 11 82);
  color: white;
  cursor: pointer;
  margin-top: 30px;
}
#restart:hover {
  background-color: #1976d2;
}
